<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.system.mapper.DepartmentParentBindingMapper">

    <resultMap type="com.sp.system.entity.DepartmentParentBinding" id="DepartmentParentBindingResult">
        <result property="id" column="id"/>
        <result property="departmentId" column="department_id"/>
        <result property="parentUserId" column="parent_user_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <insert id="insert" parameterType="com.sp.system.entity.DepartmentParentBinding" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_department_parent_binding
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="departmentId != null">
                department_id,
            </if>
            <if test="parentUserId != null and parentUserId != ''">
                parent_user_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="departmentId != null">
                #{departmentId},
            </if>
            <if test="parentUserId != null and parentUserId != ''">
                #{parentUserId},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.sp.system.entity.DepartmentParentBinding">
        UPDATE sys_department_parent_binding
        <set>
            <if test="departmentId != null">
                department_id = #{departmentId},
            </if>
            <if test="parentUserId != null and parentUserId != ''">
                parent_user_id = #{parentUserId},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="selectByDepartmentId" parameterType="long" resultType="java.lang.String">
        SELECT parent_user_id FROM sys_department_parent_binding WHERE department_id = #{departmentId}
    </select>

    <select id="selectByParentUserId" parameterType="string" resultType="java.lang.Long">
        SELECT department_id FROM sys_department_parent_binding WHERE parent_user_id = #{parentUserId}
    </select>

    <delete id="deleteByDepartmentId" parameterType="long">
        DELETE FROM sys_department_parent_binding WHERE department_id = #{departmentId}
    </delete>

    <delete id="deleteByParentUserId" parameterType="string">
        DELETE FROM sys_department_parent_binding WHERE parent_user_id = #{parentUserId}
    </delete>

    <select id="selectById" parameterType="Long" resultMap="DepartmentParentBindingResult">
        select id, department_id, parent_user_id, create_time, update_time
        from sys_department_parent_binding
        where id = #{id}
    </select>

    <delete id="deleteById" parameterType="Long">
        delete from sys_department_parent_binding where id = #{id}
    </delete>

    <select id="checkBindingExists" resultType="java.lang.Long">
        SELECT id FROM sys_department_parent_binding 
        WHERE department_id = #{departmentId} AND parent_user_id = #{parentUserId}
    </select>

    <insert id="insertIgnore" parameterType="com.sp.system.entity.DepartmentParentBinding">
        INSERT INTO sys_department_parent_binding
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="departmentId != null">
                department_id,
            </if>
            <if test="parentUserId != null and parentUserId != ''">
                parent_user_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="departmentId != null">
                #{departmentId},
            </if>
            <if test="parentUserId != null and parentUserId != ''">
                #{parentUserId},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
        </trim>
        ON DUPLICATE KEY UPDATE
            update_time = #{updateTime}
    </insert>
</mapper>