<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.system.mapper.ParentStudentRelationMapper">

    <resultMap type="com.sp.system.entity.ParentStudentRelation" id="ParentStudentRelationResult">
        <result property="id" column="id"/>
        <result property="parentUserId" column="parent_user_id"/>
        <result property="studentUserId" column="student_user_id"/>
        <result property="studentName" column="student_name"/>
        <result property="relationDesc" column="relation_desc"/>
        <result property="mobile" column="mobile"/>
        <result property="externalUserid" column="external_userid"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <insert id="insertIgnore" parameterType="com.sp.system.entity.ParentStudentRelation" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_parent_student_relation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentUserId != null and parentUserId != ''">
                parent_user_id,
            </if>
            <if test="studentUserId != null and studentUserId != ''">
                student_user_id,
            </if>
            <if test="studentName != null and studentName != ''">
                student_name,
            </if>
            <if test="relationDesc != null and relationDesc != ''">
                relation_desc,
            </if>
            <if test="mobile != null and mobile != ''">
                mobile,
            </if>
            <if test="externalUserid != null and externalUserid != ''">
                external_userid,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="parentUserId != null and parentUserId != ''">
                #{parentUserId},
            </if>
            <if test="studentUserId != null and studentUserId != ''">
                #{studentUserId},
            </if>
            <if test="studentName != null and studentName != ''">
                #{studentName},
            </if>
            <if test="relationDesc != null and relationDesc != ''">
                #{relationDesc},
            </if>
            <if test="mobile != null and mobile != ''">
                #{mobile},
            </if>
            <if test="externalUserid != null and externalUserid != ''">
                #{externalUserid},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
        </trim>
        ON DUPLICATE KEY UPDATE
            student_name = #{studentName},
            relation_desc = #{relationDesc},
            mobile = #{mobile},
            external_userid = #{externalUserid},
            update_time = #{updateTime}
    </insert>

    <sql id="selectParentStudentRelationVo">
        select id, parent_user_id, student_user_id, student_name, relation_desc, mobile, external_userid, create_time, update_time
        from sys_parent_student_relation
    </sql>

    <select id="selectByParentId" parameterType="String" resultMap="ParentStudentRelationResult">
        select id, parent_user_id, student_user_id, student_name, relation_desc, mobile, external_userid, create_time, update_time
        from sys_parent_student_relation
        where parent_user_id = #{parentUserId}
    </select>

</mapper>